.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #7617ab;
  padding: 0 10px;
  color: #fff;
  box-shadow: -2px -3px 9px 0px rgba(41,41,41, .25);
}

.login-top {
  background-color: #7617ab;
  flex: 0.3;
  align-items: center;
  justify-content: center;
}

.login-bottom {
  background-color: transparent;
  flex: 0.8;
  align-items: center;
  padding: 20px;
}

